@model SolforbApp.ViewModels.CreateOrderViewModel

@{
    ViewData["Title"] = "Создать заказ";
}

<h2>Создать заказ</h2>

<form asp-action="CreateOrder">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-md-4">
        <label asp-for="Number" class="form-label"></label>
        <input asp-for="Number" class="form-control" />
        <span asp-validation-for="Number" class="text-danger"></span>
    </div>
    <div class="col-md-4">
        <label asp-for="Date" class="form-label"></label>
        <input asp-for="Date" class="form-control" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
    <div class="col-md-4">
        <label asp-for="ProviderId" class="form-label"></label>
        <select asp-for="ProviderId" asp-items="@Model.Providers" class="form-control">
            <option value="">Выберите поставщика</option>
        </select>
    </div>

    <div class="mt-3">
        <input type="submit" value="Добавить" class="btn btn-primary" />
    </div>
</form>
